 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: black;
  background-color: beige;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  margin: 0 auto;
  background-color: transparent;
  top: 80px;
  width: 90%;
}


@media (max-width: 768px) {
  nav.navigation {
    background-color: #a4c5ea;
  }
}

@media (min-width: 768px) {


  body {
    display: flex;
    justify-items: space-between;
  }

  header.user {
    height: 100%;
    flex-basis: 60%;
    position: relative;
    margin: auto;
  }

  .container {
    margin: 120px 40px auto 60px;
    max-width: 1200px;
    justify-content: flex-end;
  }
}

