html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  font-family: 'Bungee', 'sans-serif';

}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #545149;
  margin:auto;
}

@media (min-width:1024px) {
  body {
    flex-direction: row;
    display: flex;
    padding-top: 100px;
    align-items: stretch;
    background-color: blanchedalmond;
  }

  main {
    margin: auto 2vw auto 2vw;
  }
}