.new-tweet {
  margin: 30px;
  padding: 13.5px;
  border-radius: 7px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
}

.new-tweet-footer {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
}

.new-tweet h2 {
  margin: 0 0 15px 0;
  font-family: 'Bungee', cursive;
  font-size: 30px;
  border-bottom-style: solid;
  border-width: 1px;
}

.new-tweet textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 8px solid grey; 
  font-size: 18px;
  width: 100%;
  background: transparent;
  font-weight: normal;
  resize: none;
  line-height: 40px;
  outline: none;
}

::placeholder { 
  font-weight:bold;
}

.counter {
  font-family: 'Bungee', cursive;
  font-size: 18px;
  align-self: flex-end;
}

.tweet-button{
  background-color:#4056A1;
  font-family: 'Bungee', cursive;
  font-size: 24px;
  color:white;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


#alert {
  display: flex;
  margin: auto;
  border: 8px solid red;
  width: 100%;
  padding: 5px;
  display: none;
}

.alert p {
  text-align: center;
  margin: auto;
  color: red;
  width: 80%;
}

.alert-pic {
  color: red;
  height: 25px;
  width: 25px;
}
