.new-tweet {
  width:100%;
  display: flex;
  align-items:center;
  flex-direction: column;
  background-color:blanchedalmond;
  margin:10px;
  margin-top: 2em;
  margin-bottom: 2em;
}
.container {
  display: flex;
  width: 100%;
  background-color:blanchedalmond;
}

form {
  width: 95%;
  margin: auto;
}

textarea {
  width: 100%;
  margin-bottom: 0.5em;
  background-color:blanchedalmond;
  border-style: none none solid none;
  border-width: 4px;
  border-radius: 5px;
  border-color: darkslategrey;
  outline: none;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 600;
  color: #545149;
}

.counter {
  display: flex;
}

button {
  font-family: "Bungee", "sans-serif";
  background-color: #4056A1;
  color: #FFFFFF;
}

label {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: bold;
}

#submit {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: 'Bungee', 'sans-serif';
  font-weight: bold;
}

.long {
  color:red;
}

#error {
  display:none;
  color:red;
  border-color: red;
  border-style: dashed;
  border-width: 5px;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 600;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 150%;
}